<p id="notice"><%= notice %></p>

<p>
  <strong>Stil:</strong>
  <%= @style.stil %>
</p>
<% if session[:admin_id]%>
  <%= link_to 'Edit', edit_style_path(@style) %> |
  <%= link_to 'Back', styles_path %>
<% end %>