/* site */
/* Generals */

body{
	.left { float: left; }
	.right { float: right; }
	.textCapitalize { text-transform: capitalize; }
	.marginBottom { margin-bottom: 10px; }
	.marginTop { margin-top: 10px; }
	.marginRight { margin-right: 10px; }
	.marginLeft { margin-left: 10px; }
	.hidden { display: none; }
}


/*  mixins & variable */
@mixin topOfBg { 
	z-index: 1;
	position: relative;
}
@mixin usaBg {
	background-color: seashell;
}

html {
  position: relative;
  min-height: 100%;
}
body {
	padding-top: 52px;

	&.jsOff{
		#jsSearch {
			display: none;
		}
	}
	
	>.container{
		@include topOfBg;
		background-color: #fff; 
		top: 10vh;
		padding: 10px;
		margin-bottom: 50px;
		border-radius: 10px;
		border: 1px solid #000;
		box-shadow: 1px 1px 3px #333;
	}
	
	/* Main nav */
	.navbar-default {
		@include usaBg;
		
		ul.navbar-nav {
			li.active a {
				background-color:papayawhip;
			} 
			li a {
				transition: background-color .3s ease;	
				&:hover {
					background-color:wheat;
				}
			}
		}
	}
	.alert {
		border-color: #333;
		background-color: lightyellow;
		font: bold 1em tahoma;
	}
	
	/* jsSearch definitons */
	#jsSearch {
		overflow: hidden;
		clear: both;
		
		form {
			position: relative;
			margin: auto;
			

			>div {
				float: left;
				margin: 5px;
				padding: 0;
				width: auto;
				
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
	
	#searchResult.showAll tbody tr{
		display: table-row !important;
		visibility: visible !important;
	}
	
	/* jsForm media  */
	@media all and (min-width: 465px)  {
		#jsSearch {
			form {
				width: 465px;
			}
		}

	}
	@media all and (min-width: 650px)  {
		#searchResult {
			margin: auto;
			width: 600px;
		}
	}
	footer {
		z-index: 1;
		position: fixed;
		width: 100%;
		height: auto;
		background-color: #fff;
		border-top: 1px solid #000;
		bottom: 0;
		@include usaBg;
		
		.container{
			padding: 10px;
		}	
		a {
			padding: 2px 3px;
		}
		.adminNav {
			form {
				float: right;
			}
		}
	}
	/* END footer */
}
/* END body */

/* debug */
.debug_dump {
	display: block;
	height: 20px;
	overflow: hidden;
	margin-bottom: 50px;
	bottom: -40px;
	@include topOfBg;
	
	&.foldDown {
		height: auto;
	}
}

/* normalize table */
.table {
	> thead,
	> tbody,
	> tfoot {
		> tr > th,
		tr > td {
			background-color: #fff;
		}		
	}
}


/* background slider
* info: http://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/ 
*/
/* basic */
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}
/* image */
.cb-slideshow li:nth-child(1) span { 
	background-image: asset-url("bg-1.jpg", image);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: asset-url("bg-2.jpg", image);
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: asset-url("bg-3.jpg", image);
    animation-delay: 20s; 
}
/* frames */
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    17% { opacity: 1; animation-timing-function: ease-out; }
    34% { opacity: 1 }
    51% { opacity: 0 }
    100% { opacity: 0 }
	
}@keyframes imageAnimationORIGIN { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* small viewport */
/* @media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
} */
/* old browser */
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}
